@font-face {
  font-family: "Web3-Regular";
  src: url("../assets/fonts/Web3-Regular.woff") format("woff"),
    url("../assets/fonts/Web3-Regular.woff2") format("woff2");
}

.network_icon {
  font-family: "Web3-Regular";
  margin-right: 0.625rem;
  @apply text-center;
}
