@font-face {
  font-family: "Web3-Regular";
  src: url("../assets/fonts/Web3-Regular.woff") format("woff"),
    url("../assets/fonts/Web3-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Bold"),
    url("../assets/fonts/Inter-Bold.woff") format("woff");
}

.network_icon {
  display: inline-block;
  height: 24px;
  margin-right: 0.75rem;
  vertical-align: middle;
  width: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  border-style: none;
}

.network_name {
  font-family: "Inter bold";
}
