.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.logo {
    margin: auto var(--gap)
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary);
}
