<!doctype html>
<html lang="en">
    {% include "components/head.njk" %}
    <body class="{{ class }}">
        {% include "components/nav.njk" %}
        <main class="main">
            {{ content | safe }}
        </main>
    </body>
</html>
