---
layout: base.njk
class: list
---

<article class="home-info">
    <header class="entry-header">
        <h1>{{ title }}</h1>
    </header>
    <section class="entry-content">
        {{ description }}
    </section>
</article>

{%- for chain in chains -%}
    <article class="post-entry">
        <header class="entry-header">
            <h2>{{ chain.name }}</h2>
        </header>
        <section class="entry-content">
            <p>{{ chain.rpc_endpoint }}</p>
        </section>
        <footer class="entry-footer">
            <time>{{ page.date.toUTCString() }}</time>
        </footer>
        <a class="entry-link" href="/chains/{{ chain.name | slug }}"></a>
    </article>
{%- endfor -%}
